html {
  height: 100%;
  width: 100%;
}

h1,h2{
  font-family: 'WorkBench';
}

p{
  text-align: justify;
}

.menu{
  list-style-type: none;
  margin:0;
  padding: 0;
  background-color: #0000ff;
  overflow: hidden;
  top:0;
  width:100%;
}
.menu li{
  float: left;
}

.menu li a{
  display:block;
  color: #ffffff;
  text-align:center;
  padding: 14px 20px;
  text-decoration: none;
}

.menu li a:hover{
  background-color: #ddd;
  color: #000000;
}
